<div class="nav-header">
    <div class="detail-nav col-3 float-left bg-white" id="navbarCollapse">
        <nav class="flex-column">
            <div class="nav-logo pt-4">
                <a href="">
                    <img src="~/Content/Images/vietgame-long.png" style="max-width: 100px;" alt="">
                </a>
            </div>
            <form class="form-inline ml-auto pt-2 pb-2 mt-3">
                <input type="text" class="mr-sm-2 border-bottom border-top" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <ul class="detail-menu">
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold" style="">
                        <i class="fas fa-gamepad text-primary" style="font-size: 25px;"></i> Game
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="" class="text-decoration-none">Tin Game</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Hướng Dẫn</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Đánh Giá</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Chuyên Đề</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold">
                        <i class="far fa-keyboard text-primary" style="font-size: 25px;"></i> Gaming Gear
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="" class="text-decoration-none">Tin Game</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Hướng Dẫn</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Đánh Giá</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Chuyên Đề</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold" style="">
                        <i class="fas fa-mouse text-primary" style="font-size: 25px; padding-right: 10px !important;"></i> GADGETS
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="" class="text-decoration-none">Tin Game</a>
                        </li>
                        <li>
                            <a href="" class="text-decoration-none">Giới Thiệu</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold">
                        <i class=" fas fa-trophy text-primary " style="font-size: 25px; "></i> eSports
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href=" " class="text-decoration-none ">Tin eSports</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold">
                        <i class=" fas fa-tags text-primary " style="font-size: 20px; "></i> Game Miễn Phí
                    </a>
                    <ul class="sub-menu">
                        <li class="d-none">
                            <a href=" " class="text-decoration-none ">Tin eSports</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold">
                        <i class="far fa-calendar-alt text-primary " style="font-size: 24px;padding-right: 10px !important; "></i> Sự Kiện
                    </a>
                    <ul class="sub-menu">
                        <li class="d-none">
                            <a href=" " class="text-decoration-none ">Tin eSports</a>
                        </li>
                    </ul>
                </li>
                <li class="detail-menu-category">
                    <a href="" class="detail-menu-name font-weight-bold">
                        <i class="fas fa-ad text-primary" style="font-size: 25px;"></i> Quảng cáo
                    </a>
                    <ul class="sub-menu">
                        <li class="d-none">
                            <a href=" " class="text-decoration-none ">Tin eSports</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="hamburger-background d-none" style="width: 100%; height: 100vh; position: absolute; background-color: rgba(0,0,0,0.3); overflow: hidden; z-index: 2;">
    </div>
    <header class="shadow">
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <button type="button " class="navbar-toggler d-block " style="outline: none;">
                <span class="navbar-toggler-icon "></span>
            </button>
            <a href="# " class="navbar-brand">
                <img src="~/Content/Images/vietgame-long.png" height="28 " alt="Viet Game" style="max-width: 150px; ">
            </a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav w-100">
                    @foreach (var category in ViewBag.Cate)
                    {
                    <a href="/Home/Categories/@category.CategoryId" class="nav-item nav-link ">@category.Name</a>
                    }

                </div>
                <form class="form-inline mr-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <div class=" ml-auto ">
                    <a href="# " class="btn btn-primary">Login</a>
                </div>
            </div>
        </nav>
    </header>
</div>
