
@{ ViewBag.Title = "Search";
        Layout = "~/Views/Shared/_Layout.cshtml";
        string str = Request.QueryString["searchString"]; }

@{ if (str == "")
        {
  <h3>Không tìm thấy bài viết bạn cần tìm! Mời bạn nhập lại bài viết cần tìm!</h3> }
        else
        {
  <div class="container">
    <div class="row">
      @foreach (var search in ViewBag.Search)
      {
        if (search == null)
        {
<h3>Không tìm thấy bài viết!</h3> }
          else
          {
<div class="col-md-4">
  @{ Html.RenderAction("postCard", "Post", new { id = search.PostId }); }
</div>}
        }
    </div>
  </div> } }

@section scripts
  {
  <script src="~/Content/assets/js/bookmark.js"></script>
}