@model NewsApplication.Models.Post 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Start main -->
<div class="container">
    <div class="row">
        <div class="col-md-12 header-post w-100">
            <a href="#" class="header-post-tag btn">Tin game</a>
            <h2 class="font-weight-bold" style="font-size: 30px;">@Html.Raw(Model.Title)</h2>
            <p><span>05/06/2021</span> bởi <span> <a href="#">Mr. John</a></span></p>
        </div>
    </div>
    <div class="row">
        <div class="content-post col-md-8 col-sm-12">
            <h2>@Html.Raw(Model.Content)</h2>
            
        </div>
        <div class="content-post content-post-sm col-md-4">
            @{ 
                Html.RenderAction("rate3PostPartial", "Post");
            }
            @{ 
                Html.RenderAction("new3PostPartial", "Post");
            }
        </div>
    </div>
    <div class="row">
        <div class="content-comment-title col-md-12">
            <h2 class="font-weight-bold" style="font-size: 20px;">Thảo Luận</h2>
            <div class="d-flex justify-content-between pb-3">
                <strong><span>1</span> bình luận</strong>
                <div>
                    <span>Sắp xếp theo</span>
                    <select class="form-select font-weight-bold" style="color: gray;" aria-label="Default select example">
                        <option selected value="1">Mới nhất</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <hr class="w-100">
            <div class="content-comment-details">
                <div class="content-comment-details__comment">
                    <div class="d-flex mb-3 w-100">
                        <div class="">
                            <img class="" src="https://www.facebook.com/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="" style="max-width: 100px; padding-right: 10px;">
                        </div>
                        <div class="w-100">
                            <textarea name="" class="w-100" id="" cols="30" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="content-comment-details__show">
                    <div class="parent-comment d-flex align-text-top">
                        <div>
                            <img class="" src="https://www.facebook.com/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="" style="max-width: 100px; padding-right: 10px;">
                        </div>
                        <div>
                            <span class="">
                                <a href="#">Joh Nguyen</a>
                            </span>
                            <p class="">
                                PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation
                            </p>
                            <div style="margin-top: -18px;">
                                <a class="text-decoration-none" href="">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                                <a class="text-decoration-none" href="">
                                    Phản hồi
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="mt-2 child-comment d-flex align-text-top" style="margin-left: 60px !important">
                        <div>
                            <img class="" src="https://www.facebook.com/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="" style="max-width: 50px; padding-right: 10px;">
                        </div>
                        <div>
                            <span class="">
                                <a href="#" class="">Joh Nguyen</a>
                            </span>
                            <p class="" style="font-size: 14px;">
                                PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation PlayStation 5, Xbox Series X/S trong mùa lễ năm nay.PlayStation
                            </p>
                            <div style="margin-top: -18px;">
                                <a class="text-decoration-none" href="">
                                    <i class="far fa-thumbs-up" style="font-size: 14px;"></i>
                                </a>
                                <a class="text-decoration-none" href="" style="font-size: 14px;">
                                    Phản hồi
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{ 
        Html.RenderAction("relatedPostPartial", "Post");
    }

</div>
<!-- End main -->
