@model NewsApplication.Models.Post
@{ ViewBag.Title = "Details";
  Layout = "~/Views/Shared/_Layout.cshtml"; }
<!-- Start main -->
<div class="container">
  <div class="row">
    <div class="col-md-12 header-post w-100">
      <a href="#" class="header-post-tag btn">Tin game</a>
      <h2 class="font-weight-bold" style="font-size: 30px;">@Html.Raw(Model.Title)</h2>
      <p><span>05/06/2021</span> bởi <span> <a href="#">Mr. John</a></span></p>
    </div>
  </div>
  <div class="row">
    <div class="content-post col-md-8">
      @Html.Raw(Model.Content)
    </div>
    <div class="content-post col-md-4 position-sticky">
      @{ Html.RenderAction("rate3PostPartial", "Post"); }
      @{ Html.RenderAction("new3PostPartial", "Post"); }
    </div>
  </div>
  <div class="row">
    @{ Html.RenderAction("Index", "Comment", new { Id = 1 }); }
  </div>

  <div class="row">
    @{
      Html.RenderAction("relatedPostPartial", "Post");
    }
  </div>
</div>
<!-- End main -->
@section scripts
  {
  <script>
    const renderComment = (data) => `
          <div class="comment">
            <div class="wrapper">
              <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--4YZrIgIF--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/295794/d80091f7-b567-46fd-ac94-fc0b79fb4ee2.jpeg" alt="" width="24" height="24">
              <div class="comment-body">
                <div class="username">${data.UserId}</div>
                <div class="content">${data.Content}</div>
              </div>
              <button data-comment-id="${data.CommentId}" class="reply">Reply</button>
            </div>
          </div>
          <div class="wrapper-sub-comment">
            <div class="sub-comment-list" data-comment-id="${data.CommentId}">
            </div>
            <div class="sub-comment-form hide" data-comment-id="${data.CommentId}">
              <textarea id="content-sub-comment" name="subComent" rows="5" placeholder="Reply..."></textarea>
              <button id="add-sub-comment" data-comment-id="${data.CommentId}">save</button>
            </div>
          </div>
        `
    const renderSubComment = (data) => `
          <div class="sub-comment" data-comment-id="${data.CommentId}">
            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--4YZrIgIF--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/295794/d80091f7-b567-46fd-ac94-fc0b79fb4ee2.jpeg" alt="" width="24" height="24">
            <div class="sub-comment-body">
              <div class="username">thegioicuabao</div>
              <div class="content">${data.Content}</div>
            </div>
          </div>
        `
    // handle click reply
    $(".comment-list").on("click", ".reply", e => {
      var button = $(e.target);
      var id = button.attr("data-comment-id");
      $(`.sub-comment-form[data-comment-id=${id}]`).toggle();
    })

    // handle add new comment
    $(".discussion").on("click", "#add-comment", e => {
      const button = $(e.target);
      const id = button.attr("data-post-id");
      const content = $("#content-comment").val();
      const payload = { postId: id, content: content }
      $.ajax({
        url: "/Comment/CreateComment",
        dataType: "json",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(payload),
        success: function (response) {
          const commentElement = renderComment(response.data);
          $(".comment-list").prepend(commentElement)
        },
        error: function (xhr) {
          console.log('error');
        }
      });
    })

    //  handle add new subcomment
    $(".discussion").on("click", "#add-sub-comment", e => {
      var button = $(e.target);
      const id = button.attr("data-comment-id");
      const content = $("#content-sub-comment").val();
      const payload = { commentId: id, content: content }
      $.ajax({
        url: "/Comment/CreateSubComment",
        dataType: "json",
        type: "POST",
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(payload),
        success: function (response) {
          const subCommentElement = renderSubComment(response.data);
          $(`.sub-comment-list[data-comment-id=${response.data.CommentId}]`).append(subCommentElement)
        },
        error: function (xhr) {
          console.log('error');
        }
      });
    })
  </script>
}
@Scripts.Render("~/bundles/jqueryval")