@model IEnumerable<NewsApplication.Models.Bookmark>

@{
  ViewBag.Title = "Bookmark";
}
<div class="container">
  <div class="row bg-light p-4">
    <h2 style="font-weight:600">Bài viết đã lưu</h2>
  </div>
  <div class="row bg-light p-4 g-3">
    @foreach (var post in Model)
    {
      <div class="col-4">
        @{ Html.RenderAction("postCard", "Post", new { id = post.PostId }); }
      </div>
    }
  </div>
</div>

@section scripts
  {
  <script src="~/Content/assets/js/bookmark.js"></script>
}