@model IEnumerable<NewsApplication.Models.ApplicationUser>
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Tài khoản</h3>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i> Tài khoản
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Tên tài khoản
                    </th>
                    <th>
                        Quyền hạn
                    </th>
                    <th>Sửa</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Tên tài khoản
                    </th>
                    <th>
                        Quyền hạn
                    </th>
                    <th>Sửa</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="col-md-2">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td class="col-md-6">
                            @{
                                Html.RenderAction("RenderRoles", "Users", new { id = item.Id });
                            }
                        </td>
                        <td class="col-md-2">
                            <button class="btn btn-primary" style="margin-right: 5px;">@Html.ActionLink("Sửa", "Edit", "Users", new { id = item.Id }, new { @class = "text-white text-decoration-none" }) </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>