@model NewsApplication.Models.SubCategory

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Thể loại con</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           <label>Tên thể loại chính</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            <label>Tên</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.SubCategoryId }) |
    @Html.ActionLink("Thể loại", "Index", "Categories")
</p>
