
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container list-news-container">
    <h1>Category Name</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container list-category-container">
    <h1>Sub Category Name</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container list-category-container">
    <h1>Sub Category Name</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container list-category-container">
    <h1>Sub Category Name</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container list-category-container">
    <h1>Sub Category Name</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="items-container">
                <div class="smallblock newscard">
                    <div class="img-container">
                        <img src="~/Content/assets/lib/img/Four-Horsemen-of-the-Apocalypse_3840x2160.jpg" alt="" />
                    </div>
                    <div class="small-block-content-container">
                        <div class="small-block-content">
                            <a href="#" class="small-block-tag">danh gia game</a>
                            <a href="#" class="small-block-tag">game moi</a>
                            <a href="#" class="small-block-title">ditmie game hay vai lone luoooonnnnn</a>
                        </div>
                    </div>
                    <div class="container small-block-subcontent-container">
                        <div class="row no-gutters">
                            <div class="col-lg-8">
                                <div class="views-label">
                                    <i style="color: rgb(0, 109, 199)" class="fa fa-check-circle" aria-hidden="true">
                                        <p class="views-number">5000</p>
                                    </i>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <a class="bookmark-btn" href="#">
                                    <i class="fa fa-bookmark" aria-hidden="true">
                                        Save
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

