@model NewsApplication.Models.Category

@{
  ViewBag.Title = "Categories";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container list-news-container">
  <h1 style="color:@Model.Color">@Model.Name</h1>
  <div class="row">
    @foreach (var post in ViewBag.CategoryPosts)
    {
    <div class="col-4 g-3">
      @{ Html.RenderAction("postCard", "Post", new { id = post.PostId }); }
    </div>
    }
  </div>
</div>

@foreach (var subCategory in ViewBag.SubCategories)
{
  <div style="background-color:@Model.Color" class="container list-category-container">
    <a href="/Home/DetailsCategory/@subCategory.SubCategoryId"><h1>@subCategory.Name</h1></a>
    <div class="row">
      @{
        Html.RenderAction("RenderTop3Posts", "Home", new { id = subCategory.SubCategoryId });
      }
    </div>
  </div>
}

@section scripts
  {
  <script src="~/Content/assets/js/bookmark.js"></script>
}