@using NewsApplication.Models
@using PagedList.Mvc
@model PagedList.PagedList<Post>
@{
  ViewBag.Title = "DetailCategory";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start main -->
<div class="container list-news-container">
  <div>
    <h1>@ViewBag.SubCategory.Name</h1>
  </div>
  <div class="row">
    @foreach (var post in Model)
    {
    <div class="col-4 ">
      @{ Html.RenderAction("postCard", "Post", new { id = post.PostId }); }
    </div>
    }
  </div>
  <div style="margin-top: 24px; margin-bottom: 24px">
    @Html.PagedListPager(Model, page => Url.Action("DetailsCategory", new { page = page }))
  </div>
</div>

@section scripts
  {
  <script src="~/Content/assets/js/bookmark.js"></script>
}
<!-- End main -->