
@{
    ViewBag.Title = "DetailCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start main -->
<div class="container">
    <div class="head_title">
        <h1 id="text_title">Tin Game</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <a href="#"><img class="img_news" src="https://d9n64ieh9hz8y.cloudfront.net/wp-content/uploads/20210612092125/evil-dead-the-game-tiet-lo-qua-summer-game-fest-tin-game.jpg" alt=""></a>
            <span class="span_1"><a href="#" class="span_text">Tin Game</a></span>
            <h2 class="news-title">
                <a class="text-title" href="https://vietgame.asia/tales-of-arise-he-lo-hai-nhan-vat-moi-truoc-them-e3-tin-game/">
                    Evil Dead: The Game tiết lộ qua Summer Game Fest! &#8211; Tin Game
                </a>
            </h2>
            <div class="my-1 text-gray-800 text-sm dark:text-gray-300">
                <time class="updated" datetime="2021-06-11T09:06:46+00:00">
                    11/06/2021
                </time>
                <span class="byline author vcard">
                    <span>bởi</span>
                    <a style="text-decoration: none; color: #000000;" href="https://vietgame.asia/author/piketr-cechillas/" rel="author" class="fn shadow-ul dark:shadow-ul-dark">
                        Piketr Cechillas
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End main -->
