@model NewsApplication.Models.Category

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Thể loại</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Màu sắc</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.CategoryId }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
